@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background-color: var(--tg-theme-bg-color, #212432);
  --text-color: var(--tg-theme-text-color, #e2e2e4);
  --secondary-text-color: var(--tg-theme-hint-color, #9898b0);
  --secondary-background-color: var(--tg-theme-secondary-bg-color, #292d3e);
  --button-color: var(--tg-theme-button-color, #2fdeb6);
  --button-text-color: var(--tg-theme-button-text-color, #ffffff);
  --link-color: var(--tg-theme-link-color, #2fdeb6);
  --border-color: rgba(225, 225, 225, 0.13);
  --border-light-color: rgba(0, 0, 0, 0.07);
  --color-overlay: rgba(31, 38, 49, 0.9);
  --light-color-overlay: rgba(225, 225, 225, 0.9);
}

@font-face {
  font-family: "GangOfThree";
  src: local("GangOfThree-Regular"),
    url("./fonts/GangOfThree-Regular.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  list-style: none;
  text-decoration: none;
  outline: none !important;
  color: var(--text-color);
  background-color: var(--background-color);
  overflow-wrap: anywhere;
  scroll-behavior: smooth;
}

input,
textarea,
button,
select,
div,
a {
  -webkit-tap-highlight-color: transparent;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pop-up-animation {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
